* {
    box-sizing: border-box;
}

body {
    background-color: hsla(0, 25%, 22%, 1);
}
.canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.eyeboxes {
    width: 300px;
    height: 300px;
    margin: 5px;
}
#box1 {
    background-color: bisque;
}
#box2 {
    background-color: hsla(225, 50%, 65%, 1);
}
#box3 {
    background-color: hsla(67, 50%, 50%, .7);
}
#box4 {
    background-color: hsla(12, 35%, 62%, 1);
}
#box5 {
    background-color: hsla(300, 30%, 75%, .5);
}

img {
    width: 150px;
    height: 150px;
    padding: 10px;
}